table, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  font-weight: bold;
}
th{
  border-collapse: collapse;
  padding: 5px;
  font-weight: bold;
  
}
table tr:nth-child(odd) {
  background-color: hsl(315, 35%, 78%);
  color:black;

}

table tr:nth-child(even) {
  background-color: #d1d7e4;
  color:black;
}

.heading {
  text-align: center;
  background-color: #6d0341;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}