 
 <div class="panel panel-primary">
    <div class="heading">
        Product Information
    </div>
</div>
  <div class="row" >
        <div class="column">
            <div class="container">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{image}}" alt="Card image" width="400" 
                    height="200">
                    <div class="card-body" >
                      <h4 class="card-title" align="center">{{productName}}</h4>
                      <p class="card-text" align="center">Price :{{price}} </p>
                      <div align="center">
                        <button class="btn btn-primary" align="center">Add to Cart</button>

                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  div>
 
 
 
 
 
 
 
 
 
 
 



    
            












           
