
  <header id="feature">
    <div class="product-bg">
      <div class="hero-region jumbotron container">
        <div class="col-md-6">
            <div class="image-container">
                <span class="image-wrapper">
                    <img class="image-placeholder img-responsive" height="500px" width="700px" alt="" border="0" src={{img}} />
                </span>
            </div>
        </div>

    <div class="col-md-6">
    <h2>{{name}}</h2>
    <p>
      <strong>
        Self-paced
      </strong>
    </p>
    <p>
         
          <span>{{description}}</span>
          <br>
          <br>
          <a class="btn btn-info" >Enroll Now</a>

    </p>

     
  


  </div>
</div>

    </div>
  </header>