<div class="heading">
  <h1>Contact Us </h1>
  <p>Swing by for a cup of coffee, or leave us a message:</p>
</div>
<div class="container">
    <div class="row">
      <div class="column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.8769769189857!2d73.73498801436965!3d18.579584272217122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bb9d8efbb6b5%3A0xa98cd1ba681f2e36!2sNCSI%20TECHNOLOGIES%20PVT%20LTD%20(NCS%20Group%20-%20Singtel)!5e0!3m2!1sen!2sin!4v1660059634441!5m2!1sen!2sin" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
      </div>
      <div class="column">
        <form>
                <h4>Leave a Message..</h4>
                <div class="form group">
                    <label>User Name</label>
                    <input type="text" formControlName="username" class="form-control">
                </div>
               
                
                <div class="form group">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control">
                </div>
                <div class="form group">
                    <label>Phone Number</label>
                    <input type="tel" formControlName="phoneNo" class="form-control">
                </div>
               
    
    
                <div class="form group">
                    <label>Comments</label>
                    <textarea type="text" formControlName="pincode" class="form-control"></textarea>
                </div>
                <br>
                <div class="form group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            

        </form> 
      </div>
    </div>
  </div>